.about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    padding: 100px 0;
    background: rgb(46, 46, 46);
}

.about .left{
    width: 40%;
    height: 100%;
    padding: 20px 30px;
    background: white;
    position: relative;
}

.about .left::after{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: rotate(45deg) translate(-50%, -50%);
    background: white;
}

.about .right{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .right img{
    width: 100%;
    /* height: 500px; */
    object-fit: cover;
    border-radius: 20px;
    mask: url("../assets/blob.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    -webkit-mask: url("../assets/blob.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
}

.about .left h2{
    text-align: center;
    text-decoration: underline;
    color: crimson;
}

.about .left p{
    padding: 10px;
    color: purple;
}

@media (max-width: 1100px){
    .about{
        flex-direction: column-reverse;
    }
    .about .left{
        width: 80%;
    }
    .about .right{
        width: 80%;
    }

    .about .left::after{
        width: 30px;
        height: 30px;
        top: -15px;
        right: 50%;
        transform: rotate(45deg) translateX(50%);
    }
}